@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__up/profile__up.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__text/profile__text.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__add/profile__add.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__description/card__description.css);
@import url(./blocks/card/__name/card__name.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like/_active/card__like_active.css);
@import url(./blocks/card/__like-count/card__like-count.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type/popup_type_card.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/_type/popup_type_confirm.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__form-container/popup__form-container.css);
@import url(./blocks/popup/__form-field/popup__form-field.css);
@import url(./blocks/popup/__form-heading/popup__form-heading.css);
@import url(./blocks/popup/__form-item/popup__form-item.css);
@import url(./blocks/popup/__form-save/popup__form-save.css);
@import url(./blocks/popup/__form-save/_disabled/popup__form-save_disabled.css);
@import url(./blocks/popup/__form-item/_el/popup__form-item_el_name.css);
@import url(./blocks/popup/__form-item/_el/popup__form-item_el_job.css);
@import url(./blocks/popup/__form-item/_el/popup__form-item_el_place.css);
@import url(./blocks/popup/__form-item/_el/popup__form-item_el_link.css);
@import url(./blocks/popup/__form-item/_type/popup__form-item_type_error.css);
@import url(./blocks/popup/__form-item-error/popup__form-item-error.css);
@import url(./blocks/card/__delete/card__delete.css);
@import url(./blocks/card/__delete/_hidden/card__delete_hidden.css);